*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.section-1 {
  width: 600px;
  margin: 30px auto;
  padding: 30px 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 30px;
  justify-content: center;
}

div {
  background-color: grey;
}

div:nth-child(4n -1) {
  background-color: red;
}

div:nth-child(21),
div:nth-child(22),
div:nth-child(24) {
  background-color: blue;
}

.section-2 {
  width: 1200px;
  margin: 30px auto;
  padding: 30px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 494px;
  height: 92px;
  background-color: #48d4ac;
  border: 0;
  border-radius: 60px;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.3);
}

.section-2::before {
  content: "";
  width: 200px;
  height: 12px;
  margin-right: 50px;
  display: inline-block;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

.section-2::after {
  content: "";
  width: 200px;
  height: 12px;
  margin-left: 50px;
  display: inline-block;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

button:hover {
    background-color: #4edab3;
}

button:active {
    background-color: #2fa080;
}
